.search-result {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
  padding: 20px 150px;
}

.photo-card {
  width: 300px;
}

.photo {
  width: 300px;
  transform: scale(1);
  will-change: transform;
  transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.photo:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}
